<!DOCTYPE html>
<html lang="es">
  <!-- Include Head -->
  <%- include('partials/head', {title: 'Profile ' }) %>
  <body>
    <!-- Header -->
    <%- include('partials/headerNavbar') %>
    <!-- /Header -->

    <div class="container products-wrapper">
      <div class="row">
        <div class="col-12">
          <h2 class="products-title">Tu cuenta</h2>
        </div>
      </div>
      <div class="col-12">
        <div class="card fs-2" style="width: 30rem;">
            <img src="/images/users/<%= user.avatar %>" class="card-img-top card__userAvatar" alt="...">
            <div class="card-body">
              <p class="card-text">Email: <%= user.email %> </p>
              <p class="card-text">Fecha registro: <%= user.dates%> </p>
            </div>
          </div>
        <form action="/avatar/update/?_method=PATCH" method="POST" enctype="multipart/form-data">
        	<div class="col-12 col-md-6">
                <label for="image" class="form-label">Subir imagen:</label>
                <input
                    type="file"
                    value=""
                    id="image"
                    name="file"
                    placeholder="Ej: 15"
                    class="form-input"
                    accept=".jpg,.webp,.jfif"
                />

                <% if(locals.notImage) {%>

                  <p class="validationMessage" >
                    <i class="validationMessage--i fas fa-exclamation-triangle" style="color:tomato"></i><%=notImage%>
                  </p>
            
                  <% }%>
            </div>
         
           

            <div class="col-12">
              <button type="submit" class="buy-now-button">Actualizar avatar</button>
            </div>
          
        </form>
      </div>
    </div>
    <!-- /todos los productos -->

    <!-- footer -->
    <%- include('partials/footer') %>
    <!-- /footer -->
  </body>
</html>
