<!DOCTYPE html>
<html lang="es">
	<!-- Include Head -->
	<%- include('partials/head', {title: 'Registrate'}) %>
	<body>
		<!-- Header -->
		<header class="main-header register__header">
			<div class="col-5 col-md-2">
				<a href="/" class="main-header_home-link">
					<img src="/images/logo-mercado-liebre.svg" />
				</a>
			</div>
		</header>
		<!-- /Header -->

		<div class="register__container products-wrapper">
			<form action="/register" method="POST">
				<label for="email" class="form-label">Email</label>
				<input
					type="text"
					id="email"
					value="<%=body.email%>"
					name="email"
					placeholder="Ingresa tu email"
					class="form-input"
				/>

				<% if(errors.email) {%>

				<p class="validationMessage" style="font-size: 12px">
					<i class="validationMessage--i fas fa-exclamation-triangle" style="color: tomato"></i
					><%=errors.email.msg%>
				</p>

				<% }%> <% if(locals.uniqueEmail) {%>

				<p class="validationMessage" style="font-size: 12px">
					<i class="validationMessage--i fas fa-exclamation-triangle" style="color: tomato"></i
					><%=uniqueEmail%>
				</p>

				<% }%>

				<label for="password" class="form-label">Contraseña</label>
				<input
					type="password"
					id="password"
					name="password"
					placeholder="Ingresa tu cotraseña"
					class="form-input"
					value="<%=body.password%>"
				/>
				<% if(errors.password) {%>

				<p class="validationMessage" style="font-size: 12px">
					<i class="validationMessage--i fas fa-exclamation-triangle" style="color: tomato"></i
					><%=errors.password.msg%>
				</p>

				<% }%>

				<button type="submit" class="buy-now-button">Registrate</button>
			</form>
		</div>
		<!-- /todos los productos -->

		<!-- footer -->
		<div class="sub-footer register__footer">
			<div class="container text-center">
				<p>Copyright © 1999-2019 MercadoLiebre S.R.L.</p>
			</div>
		</div>
		<!-- /footer -->
	</body>
</html>
