<!DOCTYPE html>
<html lang="es">
  <!-- Include Head -->
  <%- include('partials/head', {title: 'Resultados de tu búsqueda'}) %>
  <body>
    <!-- Header -->
    <%- include('partials/headerNavbar') %>
    <!-- /Header -->

    <!-- Banner -->
    <div class="banner"></div>
    <!-- /Banner -->

    <!-- todos los productos -->
    <div class="container products-wrapper">
      <div class="row">
        <div class="col-12">
          <h2 class="products-title">
            Resultados de la búsqueda: <%= keywords %>
          </h2>
		  <% if(products){%>

			<h2 class="products-title">
			  Cantidad de productos:<strong> <%=pagination.count%></strong> pagina
			  <%=referencePage.page%> de <%=referencePage.totalRound %>
			</h2>

		 <%  } %> 
        </div>
        <% if(products) {%> <% products.forEach(product => {%>

        <div class="col-12 col-sm-6 col-lg-3">
          <section class="product-box">
            <a href="/products/<%=product.id%>">
              <figure class="product-box_image">
                <img src="<%=product.photo%>" alt="imagen de producto" />
              </figure>
              <article class="product-box_data">
                <h2><%=product.price%></h2>

                <p><%=product.title%></p>
                <i class="fas fa-truck"></i>
              </article>
            </a>
          </section>
        </div>

        <% }) %> <% } %> <% if(!products){%>

        <div class="col-12">
          <h2 class="products-title" style="color: tomato">
            No hay productos que coincidan con esa búsqueda
          </h2>
        </div>

        <%} %>
      </div>
      <% if(pagination.continue){%>

      <a
        href="/search?start=<%=pagination.start%>&keywords=<%= keywords%>"
        class="btn btn-primary m-5"
        style="font-size: 20px"
        >mas productos</a
      >
      <% } %>
    </div>
    <!-- /todos los productos -->

    <!-- footer -->
    <%- include('partials/footer') %>
    <!-- /footer -->
  </body>
</html>
